<% if !@tickets.empty? %>
  <div class="jumbotron">
    <div>
      <h4>Your current open tickets:</h4>
      <% @tickets.each do |ticket| %>
        <%= link_to ticket.id, ticket_path(ticket) %> -
        <%= ticket.title %><br>
      <% end%><br>
    </div>
    <div>
      <h4>Reports</h4>
      <%= link_to 'Closed and Overdue Tickets', reports_closed_overdue_tickets_path %>
    </div>
  </div>
<% end %>