<% if !@tickets.empty? %>
  <div class="jumbotron">
    <div>
      <h4>Your current open tickets:</h4>
      <% @tickets.each do |ticket| %>
        <%= link_to ticket.id, ticket_path(ticket) %> -
        <%= ticket.title %><br>
      <% end%><br>
    </div>
    <div>

    </div>
  </div>
<% else %>
  <div class="jumbotron">
    <p>Welcome! Please open your first Ticket.</p>
  </div>
<% end %>