<div class="row">
  <div class="col-md-6">
    <% if !user_signed_in? %>
      <h3>Welcome to Rails Issue Tracker</h3><br>
      <div class="jumbotron">
        <p>Rails Issue Tracker allows you to create Tickets.</p>
        <p>Within Tickets you can create multiple Issues which you can track, assign, and set due dates to.</p>
      </div>
      <h5>Please <%= link_to "Sign Up", new_user_registration_path %> or <%= link_to "Log In", new_user_session_path %>.</h5>
    <% else %>    
      <%= render :partial => 'dashboard/jumbotron' %>
    <% end %>
  </div>

  <div class="col-md-6">
    <div class='new-form-div'><div>
  </div>
</div>